<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Froject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>user_reg</display-name>
    <servlet-name>user_reg</servlet-name>
    <servlet-class>com.servlet.user_reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_reg</servlet-name>
    <url-pattern>/user_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_login</display-name>
    <servlet-name>user_login</servlet-name>
    <servlet-class>com.servlet.user_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_login</servlet-name>
    <url-pattern>/user_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_auth</display-name>
    <servlet-name>user_auth</servlet-name>
    <servlet-class>com.servlet.user_auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_auth</servlet-name>
    <url-pattern>/user_auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_logout</display-name>
    <servlet-name>user_logout</servlet-name>
    <servlet-class>com.servlet.user_logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_logout</servlet-name>
    <url-pattern>/user_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>booking_servlet</display-name>
    <servlet-name>booking_servlet</servlet-name>
    <servlet-class>com.servlet.booking_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booking_servlet</servlet-name>
    <url-pattern>/booking_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ad_servlet</display-name>
    <servlet-name>ad_servlet</servlet-name>
    <servlet-class>com.servlet.ad_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ad_servlet</servlet-name>
    <url-pattern>/ad_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ad_ref</display-name>
    <servlet-name>ad_ref</servlet-name>
    <servlet-class>com.servlet.ad_ref</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ad_ref</servlet-name>
    <url-pattern>/ad_ref</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contact_auth</display-name>
    <servlet-name>contact_auth</servlet-name>
    <servlet-class>com.servlet.contact_auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact_auth</servlet-name>
    <url-pattern>/contact_auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_history</display-name>
    <servlet-name>user_history</servlet-name>
    <servlet-class>com.servlet.user_history</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_history</servlet-name>
    <url-pattern>/user_history</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_feedback</display-name>
    <servlet-name>user_feedback</servlet-name>
    <servlet-class>com.servlet.user_feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_feedback</servlet-name>
    <url-pattern>/user_feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment_calc</display-name>
    <servlet-name>payment_calc</servlet-name>
    <servlet-class>com.servlet.payment_calc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment_calc</servlet-name>
    <url-pattern>/payment_calc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_login</display-name>
    <servlet-name>admin_login</servlet-name>
    <servlet-class>com.servlet.admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_login</servlet-name>
    <url-pattern>/admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_logout</display-name>
    <servlet-name>admin_logout</servlet-name>
    <servlet-class>com.servlet.admin_logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_logout</servlet-name>
    <url-pattern>/admin_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_newspaper</display-name>
    <servlet-name>add_newspaper</servlet-name>
    <servlet-class>com.servlet.add_newspaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_newspaper</servlet-name>
    <url-pattern>/add_newspaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_newspaper</display-name>
    <servlet-name>delete_newspaper</servlet-name>
    <servlet-class>com.servlet.delete_newspaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_newspaper</servlet-name>
    <url-pattern>/delete_newspaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_admin</display-name>
    <servlet-name>add_admin</servlet-name>
    <servlet-class>com.servlet.add_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_admin</servlet-name>
    <url-pattern>/add_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_admin</display-name>
    <servlet-name>delete_admin</servlet-name>
    <servlet-class>com.servlet.delete_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_admin</servlet-name>
    <url-pattern>/delete_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_bookdate</display-name>
    <servlet-name>user_bookdate</servlet-name>
    <servlet-class>com.servlet.user_bookdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_bookdate</servlet-name>
    <url-pattern>/user_bookdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ad_survlet</display-name>
    <servlet-name>ad_survlet</servlet-name>
    <servlet-class>com.servlet.ad_survlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ad_survlet</servlet-name>
    <url-pattern>/ad_survlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ad_auth</display-name>
    <servlet-name>ad_auth</servlet-name>
    <servlet-class>com.servlet.ad_auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ad_auth</servlet-name>
    <url-pattern>/ad_auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetch_newspaper</display-name>
    <servlet-name>fetch_newspaper</servlet-name>
    <servlet-class>com.servlet.fetch_newspaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetch_newspaper</servlet-name>
    <url-pattern>/fetch_newspaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_newspapaer</display-name>
    <servlet-name>update_newspapaer</servlet-name>
    <servlet-class>com.servlet.update_newspapaer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_newspapaer</servlet-name>
    <url-pattern>/update_newspapaer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetch_newspapers</display-name>
    <servlet-name>fetch_newspapers</servlet-name>
    <servlet-class>com.servlet.fetch_newspapers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetch_newspapers</servlet-name>
    <url-pattern>/fetch_newspapers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetch_admin</display-name>
    <servlet-name>fetch_admin</servlet-name>
    <servlet-class>com.servlet.fetch_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetch_admin</servlet-name>
    <url-pattern>/fetch_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_admin</display-name>
    <servlet-name>update_admin</servlet-name>
    <servlet-class>com.servlet.update_admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_admin</servlet-name>
    <url-pattern>/update_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>blockStatus</display-name>
    <servlet-name>blockStatus</servlet-name>
    <servlet-class>com.servlet.blockStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blockStatus</servlet-name>
    <url-pattern>/blockStatus</url-pattern>
  </servlet-mapping>
</web-app>